{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}


{% block content %}
    <h3><p style="text-align: center;color:red">Groups Report</p></h3>
    <br><br>

<div>

    <div style="margin-left: 40px; ">
    {% render_table stG %}
    </div>

</div>
    <br><br>
    <div class="col-sm-12">
        <div align="center">
            <div class="btn-group-horizontal">
{#                <button type="button" class="btn btn-info">Print</button>#}
{#                <button type="button"class="btn btn-info">Back</button>#}
{#                <button type="button" class="btn btn-info">End</button>#}
            </div>
        </div>
    </div>
{% endblock %}


