{% extends 'base.html' %}

{% block content %}
    <h3><p style="text-align: center;color:red">Group Comparison</p></h3>
    <br>
    <p style="text-align: center;"><a href="http://127.0.0.1:8080/group_report"  class="btn btn-info" style="height:50px; width:100px">Run</a></p>

    <br><br>
<div class="container">
    <div class="col-sm-4"><h4><strong>Group 1</strong></h4>
        <br>
        <h5>Gender:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br>
        <h5>Age:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;"><h4>to</h4><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br>
        <h5>Keywords:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        </div>
        <div class="col-sm-4"><h4><strong>Group 2</strong></h4>
        <br>
        <h5>Gender:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br>
        <h5>Age:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;"><h4>to</h4><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br>
        <h5>Keywords:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        </div>
        <div class="col-sm-4"><h4><strong>Group 3</strong></h4>
        <br>
        <h5>Gender:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br>
        <h5>Age:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;"><h4>to</h4><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br>
        <h5>Keywords:</h5><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        <br><input type="text" name="name" value="" maxlength="90" style="width:150px;">
        </div>
        </div>
{% endblock %}












