{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}

<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css">

{% block content %}

<h3><p style="text-align: center;">Balance Report</p></h3><br><br>

<div>
    <div style="margin-left: 40px; ">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"> <strong>First Name:</strong> {{ sd.first_name }}</div>
                <div class="col-sm-3"> <strong>Last Name:</strong> {{ sd.last_name }}</div>
                <div class="col-sm-3"> <strong>Gender:</strong> {{ sd.gender }}</div>
                <div class="col-sm-3"> <strong>Age:</strong> {{ sd.age }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3"> <strong>Address:</strong> {{ sd.address }}</div>
                <div class="col-sm-3"> <strong>City:</strong> {{ sd.city }}</div>
                <div class="col-sm-3"> <strong>State:</strong> {{ sd.state }}</div>
                <div class="col-sm-3"> <strong>Phone:</strong> {{ sd.phone }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3"> <strong>Time of Bipedal Eyes Opened:</strong> {{ sd.BEOTime }}</div>
                <div class="col-sm-3"> <strong>Time of Bipedal Eyes Closed:</strong> {{ sd.BECTime }}</div>
                <div class="col-sm-3"> <strong>Time of Unipedal Eyes Opened:</strong> {{ sd.UEOTime }}</div>
                <div class="col-sm-3"> <strong>Time of Unipedal Eyes Closed:</strong> {{ sd.UECTime }}</div>
            </div><br>
        </div>
    </div>
    <p></p>
    <div style="margin-left: 40px; ">
    {% render_table st %}
    </div>
    <p></p>

    <br>
    <div style="margin-left: 40px; ">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"> <strong>Ctrl Files used to compute results:</strong> {{ sd2.ctrlNum }}</div>
                <div class="col-sm-3"> <strong>Number of females:</strong> {{ sd2.femaleCount }}</div>
                <div class="col-sm-3"> <strong>Number of males:</strong> {{ sd2.maleCount }}</div>
                <div class="col-sm-3"> <strong>Age:</strong> {{ sd2.ageMin }} <strong> to </strong>{{ sd2.ageMax }}</div>
            </div>
            <div class="row">
                <div align="right" class="col-sm-8"> <strong>Search Words:</strong> {{ sd.search_word_1 }}<strong> , </strong>{{ sd.search_word_2 }}<strong> , </strong>{{ sd.search_word_3 }}<strong> , </strong>{{ sd.search_word_4 }}<strong> , </strong>{{ sd.search_word_5 }}</div>
            <br>
            </div>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>

    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                    {{ div1 | safe }}
                    </div>

                    <div class="col-sm-3">
                    {{ div2 | safe }}
                    </div>

                    <div class="col-sm-3">
                    {{ div3 | safe }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                    {{ div4 | safe }}
                    </div>

                    <div class="col-sm-3">
                    {{ div5 | safe }}
                    </div>
                </div>
            </div>

        <div class="col-sm-3">
            {{ div6 | safe }}
        </div>

        </div>
    </div>
    <br>
    <div class="col-sm-3"><strong>Query status: </strong>{{ queryStatus }}</div>

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
{{ script1 | safe }}
{{ script2 | safe }}
{{ script3 | safe }}
{{ script4 | safe }}
{{ script5 | safe }}
{{ script6 | safe }}
{% endblock %}


