{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>

<script type="text/javascript">

    function fixedEncodeURIComponent(str) {
      return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
        return '%' + c.charCodeAt(0).toString(16);
      });
    }

    function runSingleQuery() {

        //put widget values into URL
        //queryString = String("/single_query/" +
        queryString = String("/" +
                fixedEncodeURIComponent(document.getElementById("fNameVal").value)  + "/"  +
                fixedEncodeURIComponent(document.getElementById("lNameVal").value) +  "/"  +
                fixedEncodeURIComponent(document.getElementById("genderVal").value) + "/" +
                fixedEncodeURIComponent(document.getElementById("age1Val").value) + "/"  +
                fixedEncodeURIComponent(document.getElementById("age2Val").value) + "/" +
                fixedEncodeURIComponent(document.getElementById("key1Val").value) + "/"  +
                fixedEncodeURIComponent(document.getElementById("key2Val").value) + "/"  +
                fixedEncodeURIComponent(document.getElementById("key3Val").value) + "/"  +
                fixedEncodeURIComponent(document.getElementById("key4Val").value) + "/"  +
                fixedEncodeURIComponent(document.getElementById("key5Val").value) + "/" +
        '/') ;

        // load single query results report page
        window.location.href = "/single_patient_BR" + queryString;
    }
</script>



<div class="container" name="single_patient_form">
    <div class="row">
        <div class="col-sm-6"><h3><p style="color:red">Single Patient Search</p></h3>
        <br>
        <br>
        <h4>First Name:</h4><input type="text" id="fNameVal" value="1st Name" maxlength="90" style="width:250px;">
        <h4>Last Name:</h4><input type="text" id="lNameVal" value="Last Name" maxlength="90" style="width:250px;">

        </div>
        <div class="col-sm-6"><h3>Parameters for Comparison (Ctrls)</h3>
        <br>
        <h4>Gender:</h4><input type="text" id="genderVal" value="gender" maxlength="90" style="width:150px;">
        <br>
         <h4>Age:</h4><input type="number" id="age1Val" min="0" max="110" value="12" maxlength="90" style="width:150px;"><h4>to</h4><input type="number" id="age2Val" min="0" max="110" value="" maxlength="90" style="width:150px;">
        <br>
        <h4>Keywords:</h4><input type="text" id="key1Val" value="search word1" maxlength="90" style="width:150px;">
        <br><input type="text" id="key2Val" value="search word2" maxlength="90" style="width:150px;">
        <br><input type="text" id="key3Val" value="search word3" maxlength="90" style="width:150px;">
        <br><input type="text" id="key4Val" value="search word4" maxlength="90" style="width:150px;">
        <br><input type="text" id="key5Val" value="search word5" maxlength="90" style="width:150px;">
        <br><br>

        <p><p style="text-align: center;"><button onclick="runSingleQuery()" class="btn btn-info" style="height:50px; width:100px">Run</button>

        <p id="single_patient_query"></p>


        <br>
        </div>
    </div>

    </div>


{% endblock %}




