{% extends 'base.html' %}
{% load staticfiles %}


<style>
</style>

{% block content %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} style="text-align:center" >{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <p><p style="text-align: center;"><a href="/upload_page"  class="btn btn-info" style="height:50px; width:200px">Upload New File</a></p>
            <br>
            <p><p style="text-align: center;"><a href="/single_patient_search"  class="btn btn-info" style="height:50px; width:200px">Single Patient</a></p>
            <br>
            <p><p style="text-align: center;"><a href="/group_compar" class="btn btn-info" style="height:50px; width:200px">Group Comparison</a></p></div>
            <br>
            <p><p style="text-align: center;"><a href="/deleteDB" class="btn btn-danger btn-xs">Clear DB</a></p></div>

        </div>
    </div>
{% endblock %}