{% extends 'base.html' %}
{% load staticfiles %}

{{% block content %}

<head>
    <title>Balance Lab File Upload</title>
    <style>
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #777777;
      text-align: center
    }
    table {
      margin: auto;
    }
    </style>

</head>



<div class="container">
    <div class="row">
        <div class="jumbotron">


              <h4>
                  {{what}}
              </h4>
              <table>
                <tr>
                  <td>
                    <form action="{{ request.build_absolute_uri }}/../upload/" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="file" accept=".mat" name="file"/>
                      <br />
                      <input type="submit" value="Upload File"/>
                    </form>

                  </td>
                </tr>
              </table><br><br><br>

            <p><p style="text-align: right;"><a href="/"  class="btn btn-info" style="height:50px; width:100px">Back</a></p>

        </div></div></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %} style="text-align:center" >{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}